#Ignoring the config file
config.py
.local_gitignore
__pycache__/*
__pycache__
.pytest_cache/*
.pytest_cache
*.DS_Store
.env
*.vscode
*.pyc
Private/*
data/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
TestSession.session
*.session-journal

# Local History for Visual Studio Code
.history/