[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
emoji = "*"
python-telegram-bot = "*"
praw = "*"
fake-rpi = "*"
telethon = "*"

[dev-packages]
pytest = "*"
telethon = "*"
flake8 = "*"
pylint = "*"
pytest-asyncio = "*"
