[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
emoji = "*"
python-telegram-bot = "*"
praw = "*"
pytest = "*"
fake-rpi = "*"

[dev-packages]


